UProject/Content/Megascans/Surfaces/Slate_Roof_td1pcivr/T_Slate_Roof_td1pcivr_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
UProject/Content/Megascans/Surfaces/Slate_Roof_td1pcivr/T_Slate_Roof_td1pcivr_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
UProject/Content/Megascans/Surfaces/Slate_Roof_td1pcivr/T_SlateRoof_td1pcivr_8K_ORDp.uasset filter=lfs diff=lfs merge=lfs -text
